
div{
    display: flex;
    justify-content: space-around;
}
p:nth-child(1){
 color: red;
 
}

p:nth-child(2){
    color: yellow;
}

p:nth-child(3){
    color: green;   
}

p{
    border: 2px solid black;
    width: 200px;
    height: 120px;
    box-sizing: content-box;
    padding: 20px;
     
}